# Topic Modeling

## Topic Modeling - Attempt #1 (All Text)

In [116]:
import pandas as pd
import pickle

data = pd.read_pickle('dtm_stop.pkl')
data

,abandon,abs,absolute,abyss,academies,accuse,accusing,actions,actual,actually,...,years,yellow,yells,yetcalm,york,youd,youre,youve,zen,zoo
allen,1,0,2,1,1,1,1,0,1,1,...,3,2,1,0,1,0,3,1,1,1
axentioi,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
christina,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
george,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
iff,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
judith,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
max,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
nuno,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
paul,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
sammeh,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [117]:
from gensim import matutils, models
import scipy.sparse

In [118]:
tdm = data.transpose()
tdm.head()

,allen,axentioi,christina,george,iff,judith,max,nuno,paul,sammeh
abandon,1,0,0,0,0,0,0,0,0,0
abs,0,0,0,0,1,0,0,0,0,0
absolute,2,0,0,0,0,0,0,0,0,0
abyss,1,0,0,0,0,0,0,0,0,0
academies,1,0,0,0,0,0,0,0,0,0

In [119]:
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [120]:
cv = pickle.load(open("cv_stop.pkl", "rb"))
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

In [121]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=2, passes=10)
lda.print_topics()

[(0,
  '0.006*"dog" + 0.006*"thee" + 0.006*"thy" + 0.005*"let" + 0.004*"light" + 0.004*"long" + 0.004*"shit" + 0.004*"doesnt" + 0.004*"forget" + 0.004*"world"'),
 (1,
  '0.016*"moloch" + 0.008*"im" + 0.008*"rockland" + 0.005*"light" + 0.004*"night" + 0.004*"fucking" + 0.003*"soul" + 0.003*"time" + 0.003*"love" + 0.003*"streets"')]

In [122]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=10)
lda.print_topics()

[(0,
  '0.004*"light" + 0.004*"charge" + 0.004*"owner" + 0.004*"purposes" + 0.004*"provided" + 0.004*"educational" + 0.002*"blind" + 0.002*"wild" + 0.002*"tree" + 0.002*"worms"'),
 (1,
  '0.009*"thy" + 0.009*"dog" + 0.008*"thee" + 0.005*"light" + 0.005*"forget" + 0.005*"doesnt" + 0.005*"shit" + 0.004*"let" + 0.004*"years" + 0.004*"silence"'),
 (2,
  '0.017*"moloch" + 0.008*"rockland" + 0.008*"im" + 0.005*"night" + 0.004*"fucking" + 0.004*"light" + 0.004*"soul" + 0.003*"love" + 0.003*"time" + 0.003*"denver"')]

In [123]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=4, passes=10)
lda.print_topics()

[(0,
  '0.006*"wear" + 0.004*"light" + 0.004*"let" + 0.004*"educational" + 0.004*"owner" + 0.004*"world" + 0.004*"charge" + 0.004*"long" + 0.004*"purposes" + 0.004*"provided"'),
 (1,
  '0.014*"fucking" + 0.011*"dog" + 0.011*"thy" + 0.009*"thee" + 0.006*"light" + 0.006*"shit" + 0.006*"doesnt" + 0.006*"ill" + 0.005*"like" + 0.005*"silence"'),
 (2,
  '0.020*"moloch" + 0.010*"im" + 0.010*"rockland" + 0.005*"night" + 0.004*"soul" + 0.004*"light" + 0.003*"time" + 0.003*"denver" + 0.003*"streets" + 0.003*"jazz"'),
 (3,
  '0.007*"let" + 0.007*"forget" + 0.005*"light" + 0.005*"hours" + 0.005*"world" + 0.005*"times" + 0.003*"love" + 0.003*"come" + 0.003*"eyes" + 0.003*"years"')]

## Topic Modeling - Attempt #2 (Nouns Only)

In [124]:
from nltk import word_tokenize, pos_tag

def nouns(text):
    '''Given a string of text, tokenize the text and pull out only the nouns.'''
    is_noun = lambda pos: pos[:2] == 'NN'
    tokenized = word_tokenize(text)
    all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)] 
    return ' '.join(all_nouns)

In [125]:
data_clean = pd.read_pickle('data_clean.pkl')
data_clean

                                                  transcript
allen      i saw the best minds of my generation destroye...
axentioi   for what you might be last withwe might not un...
christina  hurt no living thing ladybird nor butterfly no...
george     when we two parted  in silence and tears half ...
iff        loose leaves fall   from winter gray     calen...
judith     the eyeless labourer in the nightthe selfless ...
max        let me do my work each day and if the darkened...
nuno       im walking the dog its raining he sniffs and p...
paul       we wear the mask that grins and liesit hides o...
sammeh     who the fuck did you call when you were coked ...

In [126]:
data_nouns = pd.DataFrame(data_clean.transcript.apply(nouns))
data_nouns

                                                  transcript
allen      i minds generation madness nakeddragging stree...
axentioi   withwe fun fun nothings anothersdo nobody this...
christina     thing cricket gnat worms owner charge purposes
george     silence tears years cheek colder thy truly hou...
iff        leaves winter gray calendar pagestwo crows lim...
judith     labourer selfless shapeless seed i holdbuilds ...
max        work day hours despair strength desolation tim...
nuno       im dog raining pissesbut time minutes pass dog...
paul       mask liesit hides cheeks debt guilewith torn b...
sammeh     fuck fuck i night theyd light mom i i time lig...

In [127]:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer

# Re-add the additional stop words since we are recreating the document-term matrix
add_stop_words = ['like', 'im', 'know', 'just', 'dont', 'thats', 'right', 'people',
                  'youre', 'got', 'gonna', 'time', 'think', 'yeah', 'said']
stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words)

# Recreate a document-term matrix with only nouns
cvn = CountVectorizer(stop_words=stop_words)
data_cvn = cvn.fit_transform(data_nouns.transcript)
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names())
data_dtmn.index = data_nouns.index
data_dtmn

C:\Users\adits\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abyss,academies,actions,adonis,adorations,adult,age,airplanes,alamos,alarm,...,work,world,worms,wrists,writers,yard,years,york,youve,zoo
allen,1,1,0,1,1,0,0,1,1,1,...,0,1,1,1,1,1,3,1,1,1
axentioi,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
christina,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
george,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
iff,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
judith,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
max,0,0,1,0,0,0,1,0,0,0,...,1,2,0,0,0,0,1,0,0,0
nuno,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
paul,0,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0
sammeh,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [128]:
corpusn = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn.transpose()))

id2wordn = dict((v, k) for k, v in cvn.vocabulary_.items())

In [129]:
ldan = models.LdaModel(corpus=corpusn, num_topics=2, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.017*"moloch" + 0.014*"rockland" + 0.007*"night" + 0.007*"light" + 0.006*"soul" + 0.005*"dreams" + 0.005*"river" + 0.005*"eyes" + 0.005*"streets" + 0.004*"life"'),
 (1,
  '0.012*"dog" + 0.009*"thee" + 0.007*"owner" + 0.007*"purposes" + 0.007*"charge" + 0.007*"doesnt" + 0.006*"tears" + 0.006*"silence" + 0.004*"light" + 0.004*"years"')]

In [130]:
ldan = models.LdaModel(corpus=corpusn, num_topics=3, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.017*"dog" + 0.012*"thee" + 0.010*"doesnt" + 0.008*"light" + 0.008*"owner" + 0.008*"tears" + 0.008*"purposes" + 0.008*"charge" + 0.008*"silence" + 0.005*"life"'),
 (1,
  '0.008*"light" + 0.006*"charge" + 0.006*"owner" + 0.006*"purposes" + 0.006*"world" + 0.006*"life" + 0.006*"hours" + 0.006*"times" + 0.006*"strength" + 0.006*"childs"'),
 (2,
  '0.021*"moloch" + 0.016*"rockland" + 0.008*"night" + 0.007*"soul" + 0.005*"streets" + 0.005*"light" + 0.005*"dreams" + 0.005*"eyes" + 0.005*"mind" + 0.005*"jazz"')]

In [131]:
ldan = models.LdaModel(corpus=corpusn, num_topics=4, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.023*"dog" + 0.014*"thee" + 0.013*"doesnt" + 0.010*"silence" + 0.007*"tears" + 0.007*"years" + 0.007*"hour" + 0.007*"shiti" + 0.004*"light" + 0.004*"morning"'),
 (1,
  '0.022*"moloch" + 0.017*"rockland" + 0.008*"night" + 0.007*"soul" + 0.006*"streets" + 0.005*"dreams" + 0.005*"light" + 0.005*"jazz" + 0.005*"eyes" + 0.005*"mind"'),
 (2,
  '0.008*"fun" + 0.008*"charge" + 0.008*"childs" + 0.008*"purposes" + 0.008*"owner" + 0.005*"light" + 0.005*"love" + 0.005*"worms" + 0.005*"poetry" + 0.005*"poetrybut"'),
 (3,
  '0.013*"light" + 0.013*"world" + 0.010*"life" + 0.007*"owner" + 0.007*"purposes" + 0.007*"charge" + 0.007*"hours" + 0.007*"mother" + 0.007*"times" + 0.007*"fuck"')]

## Topic Modeling - Attempt #3 (Nouns and Adjectives)

In [132]:
def nouns_adj(text):
    '''Given a string of text, tokenize the text and pull out only the nouns and adjectives.'''
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(nouns_adj)

In [133]:
data_nouns_adj = pd.DataFrame(data_clean.transcript.apply(nouns_adj))
data_nouns_adj

                                                  transcript
allen      i best minds generation madness hysterical nak...
axentioi   last withwe fun fun nothings anothersdo advert...
christina  thing ladybird butterfly moth dusty cricket gr...
george     silence tears years pale thy cheek cold colder...
iff        loose leaves winter gray calendar pagestwo cro...
judith     eyeless labourer nightthe selfless shapeless s...
max        work day darkened hours despair strength desol...
nuno       im dog raining pissesbut time minutes pass dog...
paul       mask liesit hides cheeks eyesthis debt human g...
sammeh     fuck fuck fuck i night theyd more light mom i ...

In [134]:
cvna = CountVectorizer(stop_words=stop_words, max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_adj.transcript)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names())
data_dtmna.index = data_nouns_adj.index
data_dtmna

C:\Users\adits\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abs,absolute,abyss,academies,actions,actual,adonis,adorations,adult,advertismentsnot,...,worms,wrists,writers,yard,years,yellow,york,youve,zen,zoo
allen,0,2,1,1,0,1,1,1,0,0,...,1,1,1,1,3,2,1,1,1,1
axentioi,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
christina,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
george,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
iff,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
judith,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
max,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
nuno,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
paul,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
sammeh,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [135]:
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [136]:
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.006*"world" + 0.005*"charge" + 0.005*"owner" + 0.005*"educational" + 0.005*"purposes" + 0.005*"light" + 0.003*"hours" + 0.003*"life" + 0.003*"times" + 0.003*"mask"'),
 (1,
  '0.013*"moloch" + 0.010*"rockland" + 0.006*"light" + 0.006*"night" + 0.004*"soul" + 0.004*"thy" + 0.004*"dog" + 0.003*"love" + 0.003*"streets" + 0.003*"thee"')]

In [137]:
ldana = models.LdaModel(corpus=corpusna, num_topics=3, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.016*"moloch" + 0.012*"rockland" + 0.006*"night" + 0.005*"soul" + 0.005*"dog" + 0.005*"light" + 0.004*"streets" + 0.003*"river" + 0.003*"endless" + 0.003*"eyes"'),
 (1,
  '0.014*"thy" + 0.012*"thee" + 0.007*"owner" + 0.007*"purposes" + 0.007*"educational" + 0.007*"charge" + 0.007*"silence" + 0.007*"tears" + 0.005*"light" + 0.005*"years"'),
 (2,
  '0.010*"light" + 0.008*"fuck" + 0.006*"life" + 0.006*"best" + 0.006*"fucking" + 0.004*"love" + 0.004*"charge" + 0.004*"educational" + 0.004*"purposes" + 0.004*"owner"')]

In [138]:
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.017*"thy" + 0.014*"thee" + 0.010*"educational" + 0.010*"charge" + 0.010*"purposes" + 0.010*"owner" + 0.008*"light" + 0.008*"tears" + 0.008*"silence" + 0.005*"world"'),
 (1,
  '0.020*"dog" + 0.012*"doesnt" + 0.009*"fuck" + 0.009*"best" + 0.009*"fucking" + 0.006*"light" + 0.006*"pst" + 0.006*"life" + 0.006*"mother" + 0.006*"ill"'),
 (2,
  '0.006*"light" + 0.006*"life" + 0.006*"spare" + 0.006*"hours" + 0.006*"times" + 0.006*"world" + 0.003*"eyes" + 0.003*"pst" + 0.003*"winter" + 0.003*"death"'),
 (3,
  '0.017*"moloch" + 0.013*"rockland" + 0.006*"night" + 0.006*"soul" + 0.005*"light" + 0.004*"streets" + 0.004*"love" + 0.004*"endless" + 0.004*"mind" + 0.004*"eyes"')]

## Identify Topics in Each Document

In [139]:
# final LDA model
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=80)
ldana.print_topics()

[(0,
  '0.019*"thy" + 0.016*"thee" + 0.009*"owner" + 0.009*"purposes" + 0.009*"educational" + 0.009*"charge" + 0.009*"silence" + 0.009*"tears" + 0.006*"years" + 0.006*"mask"'),
 (1,
  '0.001*"pst" + 0.001*"spare" + 0.001*"incrementsa" + 0.001*"staccato" + 0.001*"family" + 0.001*"photo" + 0.001*"sputum" + 0.001*"leaves" + 0.001*"jan" + 0.001*"fragile"'),
 (2,
  '0.017*"moloch" + 0.013*"rockland" + 0.006*"night" + 0.006*"soul" + 0.005*"light" + 0.004*"streets" + 0.004*"river" + 0.004*"dreams" + 0.004*"eyes" + 0.004*"jazz"'),
 (3,
  '0.014*"dog" + 0.010*"light" + 0.008*"doesnt" + 0.008*"fuck" + 0.006*"pst" + 0.006*"life" + 0.006*"best" + 0.006*"fucking" + 0.004*"world" + 0.004*"times"')]

* Topic 0: old words(thy/thee)
* Topic 1: family
* Topic 2: night, dreams
* Topic 3: profanity

In [140]:
corpus_transformed = ldana[corpusna]
list(zip([a for a in corpus_transformed], data_dtmna.index))

[([(2, 0.99934334)], 'allen'),
 ([(3, 0.97109103)], 'axentioi'),
 ([(0, 0.96224535), (1, 0.012516063), (2, 0.0125650745), (3, 0.012673496)],
  'christina'),
 ([(0, 0.98629403)], 'george'),
 ([(2, 0.9769132)], 'iff'),
 ([(3, 0.98427)], 'judith'),
 ([(3, 0.988686)], 'max'),
 ([(3, 0.98433846)], 'nuno'),
 ([(0, 0.97780305)], 'paul'),
 ([(3, 0.9824626)], 'sammeh')]

* Topic 0: old words(thy/thee) [Christina, George, Paul]
* Topic 1: family [Christina]
* Topic 2: night, dreams [Allen, Iff, Christina]
* Topic 3: profanity [Judith, Max, Nuno, Sammeh]

## Additional Exercises

1. Try further modifying the parameters of the topic models above and see if you can get better topics.

In [141]:
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=1000)
ldana.print_topics()

[(0,
  '0.017*"moloch" + 0.013*"rockland" + 0.006*"night" + 0.006*"light" + 0.005*"soul" + 0.004*"streets" + 0.003*"eyes" + 0.003*"dreams" + 0.003*"river" + 0.003*"mind"'),
 (1,
  '0.018*"dog" + 0.010*"doesnt" + 0.005*"world" + 0.005*"light" + 0.005*"times" + 0.005*"good" + 0.005*"shit" + 0.005*"shiti" + 0.005*"fun" + 0.005*"hours"'),
 (2,
  '0.001*"dancing" + 0.001*"moth" + 0.001*"harmless" + 0.001*"thing" + 0.001*"fat" + 0.001*"gnat" + 0.001*"cricket" + 0.001*"ladybird" + 0.001*"butterfly" + 0.001*"dusty"'),
 (3,
  '0.018*"thy" + 0.013*"thee" + 0.008*"fuck" + 0.008*"light" + 0.008*"life" + 0.008*"best" + 0.008*"silence" + 0.008*"fucking" + 0.006*"tears" + 0.006*"years"')]

* Topic 0: night, dreams
* Topic 1: profanity
* Topic 2: moth, gnat(insects)
* Topic 3: old words(thy/thee)

Here, I have added a new topic 'insects' which fits better!

In [142]:
corpus_transformed = ldana[corpusna]
list(zip([a for a in corpus_transformed], data_dtmna.index))

[([(0, 0.99934417)], 'allen'),
 ([(1, 0.970945)], 'axentioi'),
 ([(0, 0.9620121), (1, 0.012701472), (2, 0.012560154), (3, 0.01272626)],
  'christina'),
 ([(3, 0.986257)], 'george'),
 ([(3, 0.9771922)], 'iff'),
 ([(0, 0.98419696)], 'judith'),
 ([(1, 0.98866916)], 'max'),
 ([(1, 0.9843395)], 'nuno'),
 ([(0, 0.9772444)], 'paul'),
 ([(3, 0.982432)], 'sammeh')]

* Topic 0: night, dreams [Allen, Christina, Judith, Paul]
* Topic 1: profanity [Axentioi, Max, Nuno, Christina]
* Topic 2: moth, gnat(insects) [Christina]
* Topic 3: old words(thy/thee) [George, Iff, Sammeh, Christina]

2. Create a new topic model that includes terms from a different [part of speech](https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html) and see if you can get better topics.

Here, I have made a new topic model that includes nouns, adjectives and verbs

In [158]:
def nouns_adj_verbs(text):
    is_nouns_adj_verbs = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ' or pos[:2] == 'VB'
    tokenized = word_tokenize(text)
    nouns_adj_verbs = [word for (word, pos) in pos_tag(tokenized) if is_nouns_adj_verbs(pos)] 
    return ' '.join(nouns_adj_verbs)

In [159]:
data_nouns_adj_verbs = pd.DataFrame(data_clean.transcript.apply(nouns_adj_verbs))
data_nouns_adj_verbs

                                                  transcript
allen      i saw best minds generation destroyed madness ...
axentioi   be last withwe understandits fun gets fun noth...
christina  hurt living thing ladybird butterfly moth dust...
george     parted silence tears brokenhearted sever years...
iff        loose leaves fall winter gray calendar pagestw...
judith     eyeless labourer nightthe selfless shapeless s...
max        let do work day darkened hours despair i forge...
nuno       im walking dog raining sniffs pissesbut takes ...
paul       wear mask grins liesit hides cheeks shades eye...
sammeh     fuck did call were coked fuck started cry thou...

In [160]:
cvnav = CountVectorizer(stop_words=stop_words, max_df=.8)
data_cvnav = cvnav.fit_transform(data_nouns_adj_verbs.transcript)
data_dtmnav = pd.DataFrame(data_cvnav.toarray(), columns=cvnav.get_feature_names())
data_dtmnav.index = data_nouns_adj_verbs.index
data_dtmnav

C:\Users\adits\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abandon,abs,absolute,abyss,academies,accuse,accusing,actions,actual,addicted,...,yacketayakking,yard,years,yellow,yells,york,youd,youve,zen,zoo
allen,1,0,2,1,1,1,1,0,1,0,...,1,1,3,2,1,1,0,1,1,1
axentioi,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
christina,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
george,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
iff,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
judith,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
max,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
nuno,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
paul,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
sammeh,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0

In [161]:
corpusnav = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmnav.transpose()))

id2wordnav = dict((v, k) for k, v in cvnav.vocabulary_.items())

In [166]:
ldanav = models.LdaModel(corpus=corpusnav, num_topics=4, id2word=id2wordnav, passes=1000)
ldanav.print_topics()

[(0,
  '0.005*"light" + 0.003*"childs" + 0.003*"eyesthis" + 0.003*"pst" + 0.003*"educational" + 0.003*"owner" + 0.003*"provided" + 0.003*"purposes" + 0.003*"charge" + 0.003*"hold"'),
 (1,
  '0.018*"moloch" + 0.009*"rockland" + 0.004*"night" + 0.004*"light" + 0.004*"soul" + 0.003*"thy" + 0.003*"thee" + 0.003*"streets" + 0.003*"river" + 0.003*"dreams"'),
 (2,
  '0.018*"fucking" + 0.014*"dog" + 0.008*"ill" + 0.008*"shit" + 0.008*"doesnt" + 0.006*"fuck" + 0.006*"best" + 0.004*"pst" + 0.004*"life" + 0.004*"love"'),
 (3,
  '0.007*"let" + 0.007*"forget" + 0.005*"world" + 0.005*"light" + 0.005*"times" + 0.005*"hours" + 0.003*"owner" + 0.003*"provided" + 0.003*"educational" + 0.003*"charge"')]

* Topic 0: child, educational
* Topic 1: night, dreams
* Topic 2: profanity
* Topic 3: forgetting

Here, I have added a new topic 'forgetting' which is a verb

In [169]:
corpus_transformed = ldanav[corpusnav]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmnav.index))

[(1, 'allen'),
 (1, 'axentioi'),
 (1, 'christina'),
 (1, 'george'),
 (0, 'iff'),
 (0, 'judith'),
 (3, 'max'),
 (2, 'nuno'),
 (1, 'paul'),
 (2, 'sammeh')]

* Topic 0: child, educational [Iff, Judith]
* Topic 1: night, dreams [Allen, Axentioi, Christina, George, Paul]
* Topic 2: profanity [Nuno, Sammeh]
* Topic 3: forgetting [Max]